@import url("https://fonts.googleapis.com/css?family=Chakra+Petch:300,400,500,600,700&display=swap&subset=latin-ext");
* {
  margin: 0px 0px;
  padding: 0px 0px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}


html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
     ========================================================================== */
/**
   * Remove the margin in all browsers.
   */
body {
  margin: 0;
}

/**
   * Render the `main` element consistently in IE.
   */
main {
  display: block;
}

/**
   * Correct the font size and margin on `h1` elements within `section` and
   * `article` contexts in Chrome, Firefox, and Safari.
   */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
     ========================================================================== */
/**
   * 1. Add the correct box sizing in Firefox.
   * 2. Show the overflow in Edge and IE.
   */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
     ========================================================================== */
/**
   * Remove the gray background on active links in IE 10.
   */
a {
  background-color: transparent;
}

/**
   * 1. Remove the bottom border in Chrome 57-
   * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
   */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
   * Add the correct font weight in Chrome, Edge, and Safari.
   */
b,
strong {
  font-weight: bolder;
}

/**
   * 1. Correct the inheritance and scaling of font size in all browsers.
   * 2. Correct the odd `em` font sizing in all browsers.
   */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
   * Add the correct font size in all browsers.
   */
small {
  font-size: 80%;
}

/**
   * Prevent `sub` and `sup` elements from affecting the line height in
   * all browsers.
   */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
     ========================================================================== */
/**
   * Remove the border on images inside links in IE 10.
   */
img {
  border-style: none;
}

/* Forms
     ========================================================================== */
/**
   * 1. Change the font styles in all browsers.
   * 2. Remove the margin in Firefox and Safari.
   */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
   * Show the overflow in IE.
   * 1. Show the overflow in Edge.
   */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
   * Remove the inheritance of text transform in Edge, Firefox, and IE.
   * 1. Remove the inheritance of text transform in Firefox.
   */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
   * Correct the inability to style clickable types in iOS and Safari.
   */
button,
[type="button"],
[type="reset"],
[type="submit"] {
  -webkit-appearance: button;
}

/**
   * Remove the inner border and padding in Firefox.
   */
button::-moz-focus-inner,
[type="button"]::-moz-focus-inner,
[type="reset"]::-moz-focus-inner,
[type="submit"]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
   * Restore the focus styles unset by the previous rule.
   */
button:-moz-focusring,
[type="button"]:-moz-focusring,
[type="reset"]:-moz-focusring,
[type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

/**
   * Correct the padding in Firefox.
   */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
   * 1. Correct the text wrapping in Edge and IE.
   * 2. Correct the color inheritance from `fieldset` elements in IE.
   * 3. Remove the padding so developers are not caught out when they zero out
   *    `fieldset` elements in all browsers.
   */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
   * Add the correct vertical alignment in Chrome, Firefox, and Opera.
   */
progress {
  vertical-align: baseline;
}

/**
   * Remove the default vertical scrollbar in IE 10+.
   */
textarea {
  overflow: auto;
}

/**
   * 1. Add the correct box sizing in IE 10.
   * 2. Remove the padding in IE 10.
   */
[type="checkbox"],
[type="radio"] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
   * Correct the cursor style of increment and decrement buttons in Chrome.
   */
[type="number"]::-webkit-inner-spin-button,
[type="number"]::-webkit-outer-spin-button {
  height: auto;
}

/**
   * 1. Correct the odd appearance in Chrome and Safari.
   * 2. Correct the outline style in Safari.
   */
[type="search"] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -2px;
  /* 2 */
}

/**
   * Remove the inner padding in Chrome and Safari on macOS.
   */
[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
   * 1. Correct the inability to style clickable types in iOS and Safari.
   * 2. Change font properties to `inherit` in Safari.
   */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
     ========================================================================== */
/*
   * Add the correct display in Edge, IE 10+, and Firefox.
   */
details {
  display: block;
}

/*
   * Add the correct display in all browsers.
   */
summary {
  display: list-item;
}

/* Misc
     ========================================================================== */
/**
   * Add the correct display in IE 10+.
   */
template {
  display: none;
}

/**
   * Add the correct display in IE 10.
   */
[hidden] {
  display: none;
}

body {
  font-family: "Chakra Petch", sans-serif;
  background-color: var(--bg-primary);
  padding: 0px 100px;
  min-height: 100vh;
}

.logo {
  cursor: pointer;
}

.btn, .btn-secondary, .btn-warm {
  height: 36px;
  width: 144px;
  font-family: "Chakra Petch", sans-serif;
  font-size: 16px;
  font-weight: normal;
  color: var(--bts-text-clr);
  letter-spacing: 0;
  text-align: center;
  line-height: 18px;
  background: var(--bts-clr-primary);
  border: 1px solid var(--bts-border-clr);
  -webkit-box-shadow: inset -1px -1px 0 0 var(--bts-bottom-shadow), inset 1px 1px 0 0 var(--bts-top-shadow);
          box-shadow: inset -1px -1px 0 0 var(--bts-bottom-shadow), inset 1px 1px 0 0 var(--bts-top-shadow);
  cursor: pointer;
}

.btn:hover, .btn-secondary:hover, .btn-warm:hover, .btn:active, .btn-secondary:active, .btn-warm:active {
  outline: 1px dotted var(--bts-text-clr);
  background: var(--bts-hover-color);
}

.btn-secondary {
  background: var(--btn-secondary-bg);
}

.btn-secondary:hover, .btn-secondary:active {
  outline: 1px dotted var(--bts-text-clr);
  background: var(--btn-secondary-bg-hv);
}

.btn-warm {
  background: var(--clr-warm);
}

.btn-warm:hover, .btn-warm:active {
  outline: 1px dotted var(--bts-text-clr);
  background: var(--clr-warm);
}

.btn:disabled, .btn-secondary:disabled, .btn-warm:disabled {
  background: var(--bg-frame);
  color: var(--bottom-frame-shadow);
  -webkit-box-shadow: inset -1px -1px 0 0 var(--bottom-frame-shadow), inset 1px 1px 0 0 var(--top-frame-shadow);
          box-shadow: inset -1px -1px 0 0 var(--bottom-frame-shadow), inset 1px 1px 0 0 var(--top-frame-shadow);
  border: 1px solid var(--btn-sailor-night-border);
}

.btn:disabled:hover, .btn-secondary:disabled:hover, .btn-warm:disabled:hover, .btn:disabled:active, .btn-secondary:disabled:active, .btn-warm:disabled:active {
  outline: none;
  background: none;
}

.header-general {
  background-image: var(--gradient-header);
  -webkit-box-shadow: 0 1px 0 0 var(--bts-border-clr);
          box-shadow: 0 1px 0 0 var(--bts-border-clr);
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 23px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-general h6 {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 500;
}

.dinamico {
  display: none;
}

.nav-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 59px 0px 0px;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
}

.nav-bar .bts-nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.nav-bar button {
  margin: 0px 16px 0px 0px;
}

.nav-bar .elegirTemaDrop {
  width: 36px;
}

.nav-bar .elegirTema {
  margin: 0px 0px;
}

.nav-bar .misGif {
  text-align: left;
  border: none;
  background-color: var(--bg-primary);
  color: var(--bts-text-clr);
}

.nav-bar .misGif:first-letter {
  text-decoration: underline;
}

.nav-bar .misGif:hover, .nav-bar .misGif:active {
  outline: 1px dotted var(--bts-text-clr);
}

.nav-bar .misGif:active {
  color: #88799b;
}

.nav-bar .dropDonwMenu {
  position: relative;
  z-index: 10;
}

.nav-bar .menu {
  position: absolute;
  top: 36px;
  left: 0px;
  background-color: var(--bg-frame);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
          box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
  width: 180px;
  padding: 10px 10px 0px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
}

.nav-bar .menu li {
  list-style: none;
  width: 100%;
}

.nav-bar .menu button {
  width: 100%;
  margin-bottom: 10px;
  text-align: left;
  padding-left: 16px;
}

.nav-bar .mostrar {
  -webkit-transition: all 0.2s ease-in-out 0s;
  transition: all 0.2s ease-in-out 0s;
  opacity: 1;
  visibility: visible;
}

.nav-bar .Sailor-Day {
  color: #110038;
  background-color: var(--btn-sailor-day);
  border: 1px solid var(--btn-sailor-day-border);
  -webkit-box-shadow: inset -1px -1px 0 0 var(--btn-sailor-day-shadow), inset 1px 1px 0 0 var(--btn-sailor-day-inner-shadow);
          box-shadow: inset -1px -1px 0 0 var(--btn-sailor-day-shadow), inset 1px 1px 0 0 var(--btn-sailor-day-inner-shadow);
}

.nav-bar .Sailor-Night {
  background-color: var(--btn-sailor-night);
  border: 1px solid var(--btn-sailor-night-border);
  -webkit-box-shadow: inset -1px -1px 0 0 var(--btn-sailor-night-shadow), inset 1px 1px 0 0 var(--btn-sailor-night-inner-shadow);
          box-shadow: inset -1px -1px 0 0 var(--btn-sailor-night-shadow), inset 1px 1px 0 0 var(--btn-sailor-night-inner-shadow);
}

.galeriaGif {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (minmax(280px, 1fr))[auto-fill];
      grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 16px;
}

.tarjetaGif {
  background: transparent;
  position: relative;
  height: 280px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2px;
  overflow: hidden;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.tarjetaGif:hover {
  background: var(--bg-frame);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
          box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
}

.tarjetaGif img {
  height: 100%;
  width: 100%;
}

.tarjetaGif img:hover ~ .foot {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--gradient-header);
  position: absolute;
  bottom: 2px;
  left: 2px;
  width: 99%;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
  height: 24px;
}

.tarjetaGif .foot {
  display: none;
}

.tarjetaGif .foot p {
  padding: 5px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.barrratitulo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  margin: 50px 0px 20px;
  background: #FFFAFE;
  border: 1px solid var(--border-clr);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--inner-sadow), inset 2px 2px 0 0 var(--outder-sadow);
          box-shadow: inset -2px -2px 0 0 var(--inner-sadow), inset 2px 2px 0 0 var(--outder-sadow);
}

.barrratitulo p {
  font-family: "Chakra Petch", sans-serif;
  font-size: 14px;
  color: #110038;
  letter-spacing: 0;
  margin: 7px;
}

.suge-traje {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-frame);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
          box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
  padding: 2px;
  position: relative;
  height: 280px;
  overflow: hidden;
}

.suge-traje img {
  width: 100%;
  height: 100%;
}

.suge-traje .suge-btn-vmas {
  cursor: pointer;
  position: absolute;
  bottom: 19px;
  left: 11px;
  color: #FFFFFF;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding: 8px 10px;
  background: var(--clr-secondary);
  border: 1px solid var(--btn-sug-border);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--btn-sug-shadow-inner), inset 2px 2px 0 0 var(--btn-sug-shadow-outer);
          box-shadow: inset -2px -2px 0 0 var(--btn-sug-shadow-inner), inset 2px 2px 0 0 var(--btn-sug-shadow-outer);
}

.suge-traje .suge-btn-vmas:hover, .suge-traje .suge-btn-vmas:active {
  outline: 1px dotted var(--bts-text-clr);
}

.suge-header {
  position: absolute;
  top: 2px;
  left: 2px;
  right: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: auto;
  padding: 4px;
  background: var(--gradient-header);
}

.suge-header p {
  width: auto;
  padding-right: 5px;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: bold;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.suge-header img {
  width: 16px;
  height: 14px;
}

.espacio {
  height: 50px;
}

.header-botton {
  background-image: var(--gradient-header);
  -webkit-box-shadow: 0 1px 0 0 var(--bts-border-clr);
          box-shadow: 0 1px 0 0 var(--bts-border-clr);
  position: absolute;
  left: 0px;
  width: 100%;
  height: 23px;
  padding-left: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.header-botton h6 {
  font-size: 12px;
  color: #FFFFFF;
  letter-spacing: 0;
  font-weight: 500;
}

.notificacion {
  position: absolute;
  top: 30px;
  right: 10px;
  min-width: 200px;
  max-width: 300px;
  padding: 10px;
  min-height: 50px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-frame);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
          box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
}

.notificacion p {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

:root,
[color-theme='Sailor-Day'] {
  --clr-primary: #F7C9F3;
  --clr-secondary: #4180F6;
  --clr-warm: #FF6161;
  --clr-dark: #999999;
  --bg-primary: #fff4fd;
  --bg-frame: #E6E6E6;
  --gradient-header: linear-gradient(270deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
  --bts-clr-primary: var(--clr-primary);
  --bts-clr-secondary: var(--clr-secondary);
  --bts-clr-warm: var(--clr-warm);
  --bts-clr-calm: var(--bg-primary);
  --bts-border-clr: #110038;
  --bts-top-shadow: #FFFFFF;
  --bts-bottom-shadow: #997D97;
  --bts-warm-shadow: #993A3A;
  --bts-text-clr: #110038;
  --bts-hover-color: #e6bbe2;
  --btn-sailor-day: #fff4fd;
  --btn-sailor-day-border: #CCA6C9;
  --btn-sailor-day-shadow: #E6DCE4;
  --btn-sailor-day-inner-shadow: #FFFFFF;
  --btn-sailor-night: #f0f0f0;
  --btn-sailor-night-border: #808080;
  --btn-sailor-night-shadow: #B4B4B4;
  --btn-sailor-night-inner-shadow: #FFFFFF;
  --btn-sug-border: #4C2F99;
  --btn-sug-shadow-inner: #284F99;
  --btn-sug-shadow-outer: #FFFFFF;
  --btn-secondary-bg: #FFF4FD;
  --btn-secondary-bg-hv: #E6E6E6;
  --top-frame-shadow: #FFFFFF;
  --bottom-frame-shadow: #B4B4B4;
  --border-clr: #E6BBE2;
  --inner-sadow: #E6DCE4;
  --outder-sadow: #80687D;
  --sug-btn-bg-clr: #F0F0F0;
}

[color-theme='Sailor-Night'] {
  --clr-primary: #EE3EFE;
  --clr-secondary: #2E32FB;
  --clr-warm: #FF6161;
  --clr-dark: #999999;
  --bg-primary: #110038;
  --bg-frame: #B4B4B4;
  --gradient-header: linear-gradient(270deg, var(--clr-primary) 0%, var(--clr-secondary) 100%);
  --bts-clr-primary: var(--clr-primary);
  --bts-clr-secondary: var(--clr-secondary);
  --bts-clr-warm: var(--clr-warm);
  --bts-clr-calm: var(--bg-primary);
  --bts-border-clr: #110038;
  --bts-top-shadow: #FFFFFF;
  --bts-bottom-shadow: #A72CB3;
  --bts-warm-shadow: #993A3A;
  --bts-text-clr: #FFFFFF;
  --bts-hover-color: #ce36db;
  --btn-sailor-day: #cccccc;
  --btn-sailor-day-border: #808080;
  --btn-sailor-day-shadow: #B4B4B4;
  --btn-sailor-day-inner-shadow: #FFFFFF;
  --btn-sailor-night: var(--clr-secondary);
  --btn-sailor-night-border: #33358F;
  --btn-sailor-night-shadow: #E6DCE4;
  --btn-sailor-night-inner-shadow: #FFFFFF;
  --btn-sug-border: #4C2F99;
  --btn-sug-shadow-inner: #2124B3;
  --btn-sug-shadow-outer: #FFFFFF;
  --btn-secondary-bg: #33358F;
  --btn-secondary-bg-hv: #110038;
  --top-frame-shadow: #FFFFFF;
  --bottom-frame-shadow: #8F8F8F;
  --border-clr: #2E32FB;
  --inner-sadow: #E6DCE4;
  --outder-sadow: #110038;
  --sug-btn-bg-clr: #CCCCCC;
}

.barraBusqueda {
  position: relative;
  margin: 20px 0px 20px;
  padding: 2px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: var(--bg-frame);
  -webkit-box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
          box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
}

.bus-head {
  padding-left: 10px;
  width: 100%;
  height: 24px;
  background: var(--gradient-header);
  font-weight: bold;
  font-size: 14px;
  color: #FFFFFF;
  letter-spacing: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.buscarwrap {
  width: 100%;
  padding: 12px 16.5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.buscarwrap .buscar-btn {
  width: 102px;
}

.buscarwrap .inp-btn-x {
  position: relative;
  width: inherit;
  padding: 0px 8px 0px 0px;
}

.buscarwrap .input {
  width: 100%;
  height: 48px;
  padding-left: 16px;
  margin-right: 8px;
  background: #FFFFFF;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.buscarwrap .input:first-letter {
  text-transform: uppercase;
}

.buscarwrap .btn-x {
  position: absolute;
  top: 25%;
  left: 97%;
  border-radius: 50%;
  width: 20px;
  height: 20px;
  border: none;
  background: transparent;
}

.segbus {
  z-index: 10;
  position: absolute;
  top: 100%;
  left: 0px;
  width: 100%;
  padding: 16px 15% 10px 16px;
  background: var(--bg-frame);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
          box-shadow: inset -2px -2px 0 0 var(--bottom-frame-shadow), inset 2px 2px 0 0 var(--top-frame-shadow);
}

.btn-bus-pre {
  background: var(--sug-btn-bg-clr);
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  font-size: 16px;
  color: #110038;
  letter-spacing: 0;
  line-height: 22px;
  cursor: pointer;
  width: 100%;
  margin-bottom: 6px;
  padding: 6px 15px;
  text-align: left;
}

.btn-bus-pre:hover {
  border: 1px dotted #110038;
}

.btn-suge {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.btn-suge button {
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  margin-right: 8px;
  padding: 0px 10px;
  background: var(--clr-secondary);
}

.btn-suge button:hover {
  background: var(--clr-secondary);
}